@import "variables";
@import "mixins";

//Global
    html, body {height: 100%;}
    body {font-family: $font-base;font-size: $font-size-default;letter-spacing: 1px;}
    a {@include fade;color: $dark; &:hover {color: $dark;}}
    iframe {width: 100%;height: 26em;}
    .icon {display: inline-block;width: 1em;height: 1em;stroke-width: 0;stroke: currentColor;fill: currentColor;}
    h1 {font-size: 2.4em;font-family: $font-headings;text-transform: uppercase;font-weight: 100;letter-spacing: .4em;}
    .btn {
        background: $dark;color: $white;display: inline-block;padding: 1em 2em;font-family: $font-headings;text-transform: uppercase;font-weight: 100;
        &:hover {background: rgba($dark,.9);color: $white;text-decoration: none;}
    }
    
//Components
    //Header
        .main-header {
            @include fade;
            position: fixed;width: 100%;padding: 1em 0;z-index: 101;
            &.active {background: $white;box-shadow: 0 0 1em rgba($dark,.1);top: 0 !important;}
            a {font-family: $font-headings;letter-spacing: 2px;text-transform: uppercase}
            .logo {font-weight: bold}
            .nav {justify-content: flex-end;}
        }
    //Navs 
        .nav-item:hover .nav-link {background: $dark;color: $white;}
        .nav-item.active  .nav-link {background: rgba($dark,.05); &:hover {background: $dark;}}
        .section-header {
            margin-bottom: 3em;
            .nav {justify-content: center;}
            .nav-item.active  .nav-link {background: $dark; color: $white; &:hover {background: rgba($dark,.9);}}
        }

    //Hero
        .hero {height: 100%;background: {size: cover;position: center center;}}
        .page .hero {
            height: 20vw;
            display: flex;justify-content: center;align-items: center;
            .page-title {margin-bottom: 0;}
        }

    //Content
        .content {padding: 4em 0;}
        .entry {padding-right: 4em;}
        .affix .entry {position: sticky;}
        .entry p {text-align: justify}
        .entry a {text-decoration: underline; &:hover {color: rgba($dark,.8)}}
        .entry-short p:not(:last-of-type) {margin-bottom: 0;}
        .content .media img {width: 100%;height: auto;margin-bottom: 1em;}
        //Listing
            .listing article {padding: .1em !important;}
            .listing-item {
                position: relative;width: 100%;height: 100%;overflow: hidden;background: #aaa;cursor: pointer;display: block;margin-bottom: -.5em;
                &-thumb {
                    margin: 0;padding: 0; 
                    &:before {@include fade;content: '';background: rgba($dark,.9);position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;}
                    img {max-width: 100%;height: auto;}
                }
                
                
                
                &-title, &-excerpt {@include fade;font-family: $font-headings;top: auto;bottom: 0;padding: 1em;width: 100%;transition: all .5s;transform: translate3d(0,100%,0);position: absolute;}
                &-title {background: $light;margin-bottom: 0;}
                &-excerpt {bottom: 0;text-align: center;color:$light;padding: 2em;margin-bottom: 0;font-size: 1.2em;}
                &:hover {
                    .listing-item-thumb:before {opacity: 1;}
                    .listing-item-title, .listing-item-excerpt {transform: translate3d(0,0,0);}
                    .listing-item-excerpt {bottom: 50%;}
                }
            }
        .gallery {
            &-item {margin-bottom: 2em;}
            img {max-width: 100%;height: auto;}
        }
        //Lightbox
        .lb {
            &-element {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 110}
            &-overlay {position:fixed;background: rgba($dark,.9);width: 100%;height: 100%;}
            &-content-outer {position: fixed;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
            &-arrows {position: fixed;top: 50%;width: 100%;display: flex;justify-content: space-between;}
            &-close-btn {position: fixed;top:0;right: 0;}
            &-caption {color: $white;}
            &-image-wrap {padding: 0 6em;}
            &-image {max-width: 100%;height: auto;}
        }
    //Footer
        .main-footer {
            padding: 1em 0;
            .nav {justify-content: center;}
        }
        .section-footer {padding: 3em 0;}
        .home .main-footer {position: fixed;bottom: 0;width: 100%;}

    
    
